.app-container {
  display: flex;
  height: 100vh;
}

.video-container {
  flex: 5; /* Video ve şiir bölümünün esnekliği, tüm kalan alanı kaplar */
  position: relative; /* İçerik pozisyonlandırması için gerekli */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Videoyu kaplayacak şekilde ayarla */
}

.poetry-container {
  width: 250px;
  position: fixed; /* Sabit pozisyon */
  right: 0px; /* Sağ kenara dayalı */
  bottom: 0; /* Alt kenara dayalı */
  padding: 10px;
  box-sizing: border-box;
  color: white;
  font-family: 'Merriweather';
  font-style: italic;
  opacity: 0; /* Başlangıçta görünmez */
  transition: opacity 1s ease-in-out; /* Yumuşak geçiş efekti */
}

/* Şiir görünür olduğunda */
.poetry-container.visible {
  opacity: 0.7; /* Tamamen görünür yap */
}

.stanza {
  margin-bottom: 10px;
}

.stanza1 {
  margin-bottom: 10px;
  text-indent: -30px;
}

.stanza2 {
  margin-bottom: 10px;
  text-indent: -60px;
}

.stanza3 {
  margin-bottom: 10px;
  text-indent: -30px;
}
.stanza4 {
  margin-top: 20px;
  text-indent: 60px;
}