.app-container {
  display: flex;
  height: 100vh;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Videoyu ekran boyutuna sığdır */
  z-index: -1; /* Videoyu arka planda tut */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Videoyu kaplayacak şekilde ayarla */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, 
              rgba(80, 80, 80, 0.6) 0%, 
              rgba(78, 78, 78, 0.6) 5%, 
              rgba(76, 76, 76, 0.6) 10%, 
              rgba(74, 74, 74, 0.6) 15%, 
              rgba(72, 72, 72, 0.6) 20%, 
              rgba(70, 70, 70, 0.6) 25%, 
              rgba(68, 68, 68, 0.6) 30%, 
              rgba(66, 66, 66, 0.6) 35%, 
              rgba(64, 64, 64, 0.6) 40%, 
              rgba(62, 62, 62, 0.6) 45%, 
              rgba(60, 60, 60, 0.6) 50%, 
              rgba(58, 58, 58, 0.6) 55%, 
              rgba(56, 56, 56, 0.6) 60%, 
              rgba(54, 54, 54, 0.6) 65%, 
              rgba(52, 52, 52, 0.6) 70%, 
              rgba(50, 50, 50, 0.6) 75%, 
              rgba(48, 48, 48, 0.6) 80%, 
              rgba(46, 46, 46, 0.6) 85%, 
              rgba(44, 44, 44, 0.6) 90%, 
              rgba(42, 42, 42, 0.6) 95%, 
              rgba(40, 40, 40, 0.6) 100%);
}

.poetry-container {
  width: 250px;
  position: fixed; /* Sabit pozisyon */
  right: 0px; /* Sağ kenara dayalı */
  bottom: 0; /* Alt kenara dayalı */
  padding: 10px;
  box-sizing: border-box;
  color: white;
  font-family: 'Merriweather';
  font-style: italic;
  opacity: 0; /* Başlangıçta görünmez */
  transition: opacity 1s ease-in-out; /* Yumuşak geçiş efekti */
}

/* Şiir görünür olduğunda */
.poetry-container.visible {
  opacity: 0.5;
}

.stanza {
  margin-bottom: 10px;
}

.stanza1 {
  margin-bottom: 10px;
  text-indent: -30px;
}

.stanza2 {
  margin-bottom: 10px;
  text-indent: -60px;
}

.stanza3 {
  margin-bottom: 10px;
  text-indent: -30px;
}
.stanza4 {
  margin-top: 20px;
  text-indent: 60px;
}

@media screen and (min-width: 1920px) {
  .poetry-container {
    font-size: medium;
    bottom: 100px;    
  }
}

@media screen and (max-width: 768px) {
  .poetry-container {
    width: 150px;
    font-size: x-small;
    bottom: 100px; 
  }
  .stanza1 {
    margin-bottom: 10px;
    text-indent: -5px;
  }
  
  .stanza2 {
    margin-bottom: 10px;
    text-indent: -30px;
  }
  
  .stanza3 {
    margin-bottom: 10px;
    text-indent: -5px;
  }
  .stanza4 {
    margin-top: 20px;
  }

  .video-container video {
    width: 100%;
    object-fit: cover; /* Videoyu kaplayacak şekilde ayarla */
  }
}