.app-container {
  display: flex;
  height: 100vh;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Videoyu ekran boyutuna sığdır */
  z-index: -2; /* Videoyu arka planda tut */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Videoyu kaplayacak şekilde ayarla */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/GrainBackground.gif'),
                    radial-gradient(circle,
  rgba(255, 248, 240, 0.5) 0%,
  rgba(255, 245, 235, 0.52) 5%,
  rgba(255, 243, 230, 0.54) 10%,
  rgba(255, 241, 225, 0.56) 15%,
  rgba(254, 239, 220, 0.58) 20%,
  rgba(253, 237, 215, 0.6) 25%,
  rgba(252, 235, 210, 0.62) 30%,
  rgba(250, 230, 205, 0.64) 35%,
  rgba(248, 225, 200, 0.66) 40%,
  rgba(245, 220, 195, 0.68) 45%,
  rgba(242, 215, 190, 0.7) 50%,
  rgba(240, 210, 180, 0.72) 55%,
  rgba(238, 200, 170, 0.73) 60%,
  rgba(235, 190, 165, 0.75) 65%,
  rgba(230, 180, 160, 0.76) 70%,
  rgba(222, 170, 155, 0.78) 75%,
  rgba(215, 160, 150, 0.8) 80%,
  rgba(208, 150, 143, 0.82) 85%,
  rgba(201, 140, 140, 0.83) 90%,
  rgba(192, 130, 138, 0.84) 95%,
  rgba(186, 123, 136, 0.85) 100%
);
  background-size: initial;
  background-blend-mode: color-burn;
  background-position: center; /* Görselin ortalanmasını sağlar */
  opacity: 0.7; 
  z-index: 1;
}

.poetry-container {
  width: 250px;
  position: fixed; /* Sabit pozisyon */
  right: 0px; /* Sağ kenara dayalı */
  bottom: 0; /* Alt kenara dayalı */
  padding: 10px;
  box-sizing: border-box;
  color: #170101;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  opacity: 0; /* Başlangıçta görünmez */
  transition: opacity 1s ease-in-out; /* Yumuşak geçiş efekti */
  z-index: -1;
}

/* Şiir görünür olduğunda */
.poetry-container.visible {
  opacity: 0.5;
}

.stanza {
  margin-bottom: 10px;
}

.stanza1 {
  margin-bottom: 10px;
  text-indent: -30px;
}

.stanza2 {
  margin-bottom: 10px;
  text-indent: -60px;
}

.stanza3 {
  margin-bottom: 10px;
  text-indent: -30px;
}
.stanza4 {
  margin-top: 20px;
  text-indent: 60px;
}

.typewriter-container {
  display: flex;
  text-align: center; /* Metni ortala */
  z-index: -1;
}

.typewriter-text {
  margin-left: 300px;
  margin-top: 150px;
  font-size: 40px;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 500;
  color: #fff;
  text-shadow:
    0 2px 3px rgba(0, 0, 0, 0.4),
    0 4px 8px rgba(0, 0, 0, 0.3),
    0 6px 12px rgba(0, 0, 0, 0.2);
}

.highlight-gradient {
  position: relative;
  padding: 4px 12px;
  z-index: 1; /* metin üstte kalsın */
}

.highlight-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('images/brush.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120% 200%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  opacity: 0.4;
  z-index: -1; /* arka planda kalsın */
}


@media screen and (min-width: 1920px) {
  .poetry-container {
    font-size: medium;
    bottom: 100px;    
  }
}

@media screen and (max-width: 768px) {
  .poetry-container {
    width: 150px;
    font-size: 8px;
    bottom: 20px; 
    font-style: italic;
  }
  .stanza1 {
    margin-bottom: 10px;
    text-indent: -5px;
  }
  
  .stanza2 {
    margin-bottom: 10px;
    text-indent: -30px;
  }
  
  .stanza3 {
    margin-bottom: 10px;
    text-indent: -5px;
  }
  .stanza4 {
    margin-top: 20px;
  }

  .video-container video {
    width: 100%;
    object-fit: cover; /* Videoyu kaplayacak şekilde ayarla */
  }

  .typewriter-container {
    height: auto; /* Mobil cihazlarda yüksekliği otomatik yap */
    display:inline-flex;
    flex-direction: column; /* Yatay yerine dikey düzen */
    margin-top: 25vh;
    align-items: center; /* İçeriği yatay olarak ortala */
  }

  .typewriter-text {
    margin: 80px; /* Marjları sıfırla */
    font-size: 24px; /* Font boyutunu küçült */
    /* Diğer stiller (font ailesi, ağırlığı, rengi) aynı kalabilir */
  }
}