.app-container {
  display: flex;
  height: 100vh;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Videoyu ekran boyutuna sığdır */
  z-index: -2; /* Videoyu arka planda tut */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Videoyu kaplayacak şekilde ayarla */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn.shopify.com/s/files/1/0564/7617/2332/files/GrainBackround.gif?v=1667804647), 
                    radial-gradient(circle, 
                    rgba(80, 80, 80, 0.9) 0%, 
                    rgba(78, 78, 78, 0.9) 5%, 
                    rgba(76, 76, 76, 0.9) 10%, 
                    rgba(74, 74, 74, 0.9) 15%, 
                    rgba(72, 72, 72, 0.9) 20%, 
                    rgba(70, 70, 70, 0.9) 25%, 
                    rgba(68, 68, 68, 0.9) 30%, 
                    rgba(66, 66, 66, 0.9) 35%, 
                    rgba(64, 64, 64, 0.9) 40%, 
                    rgba(62, 62, 62, 0.9) 45%, 
                    rgba(60, 60, 60, 0.9) 50%, 
                    rgba(58, 58, 58, 0.9) 55%, 
                    rgba(56, 56, 56, 0.9) 60%, 
                    rgba(54, 54, 54, 0.9) 65%, 
                    rgba(52, 52, 52, 0.9) 70%, 
                    rgba(50, 50, 50, 0.9) 75%, 
                    rgba(48, 48, 48, 0.9) 80%, 
                    rgba(46, 46, 46, 0.9) 85%, 
                    rgba(44, 44, 44, 0.9) 90%, 
                    rgba(42, 42, 42, 0.9) 95%, 
                    rgba(40, 40, 40, 0.9) 100%);
  background-blend-mode: multiply;
  background-position: center; /* Görselin ortalanmasını sağlar */
  opacity: 0.6;
  z-index: 1;
}

.poetry-container {
  width: 250px;
  position: fixed; /* Sabit pozisyon */
  right: 0px; /* Sağ kenara dayalı */
  bottom: 0; /* Alt kenara dayalı */
  padding: 10px;
  box-sizing: border-box;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  opacity: 0; /* Başlangıçta görünmez */
  transition: opacity 1s ease-in-out; /* Yumuşak geçiş efekti */
  z-index: -1;
}

/* Şiir görünür olduğunda */
.poetry-container.visible {
  opacity: 0.5;
}

.stanza {
  margin-bottom: 10px;
}

.stanza1 {
  margin-bottom: 10px;
  text-indent: -30px;
}

.stanza2 {
  margin-bottom: 10px;
  text-indent: -60px;
}

.stanza3 {
  margin-bottom: 10px;
  text-indent: -30px;
}
.stanza4 {
  margin-top: 20px;
  text-indent: 60px;
}

.typewriter-container {
  display: flex;
  text-align: center; /* Metni ortala */
  z-index: -1;
}

.typewriter-text {
  margin-left: 300px;
  margin-top: 150px;
  font-size: 40px;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 500;
  color: #fdfdfd;
}

@media screen and (min-width: 1920px) {
  .poetry-container {
    font-size: medium;
    bottom: 100px;    
  }
}

@media screen and (max-width: 768px) {
  .poetry-container {
    width: 150px;
    font-size: xx-small;
    bottom: 20px; 
    font-style: italic;
  }
  .stanza1 {
    margin-bottom: 10px;
    text-indent: -5px;
  }
  
  .stanza2 {
    margin-bottom: 10px;
    text-indent: -30px;
  }
  
  .stanza3 {
    margin-bottom: 10px;
    text-indent: -5px;
  }
  .stanza4 {
    margin-top: 20px;
  }

  .video-container video {
    width: 100%;
    object-fit: cover; /* Videoyu kaplayacak şekilde ayarla */
  }

  .typewriter-container {
    height: auto; /* Mobil cihazlarda yüksekliği otomatik yap */
    display:inline-flex;
    flex-direction: column; /* Yatay yerine dikey düzen */
    justify-content: center; /* İçeriği dikey olarak ortala */
    align-items: center; /* İçeriği yatay olarak ortala */
  }

  .typewriter-text {
    margin: 80px; /* Marjları sıfırla */
    font-size: 24px; /* Font boyutunu küçült */
    /* Diğer stiller (font ailesi, ağırlığı, rengi) aynı kalabilir */
  }
}