/* Menü ikonu (sağ üstte) */
.menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 1002;
  filter: brightness(1.2) saturate(1.4);
  background-color: rgba(213, 126, 126, 0.5); /* #b32828 */
  border-radius: 38px;
  padding: 1px;
}

/* Ana sayfa ikonu (sol üstte) */
.mainpage-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  z-index: 1002;
  transition: transform 0.3s ease;
}

.mainpage-icon:hover {
  transform: scale(1.1);
}

/* Menü paneli */
.navigation-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  max-width: 90vw;
  height: 100vh;

  background-image: 
    url('./images/GrainBackground.gif'),
    url('./images/navbar-bg.png');
  background-repeat: repeat, no-repeat;
  background-position: center center, center center;
  background-size: cover; 
  background-blend-mode: multiply;
  filter: saturate(1.2) contrast(0.8) brightness(0.8);
  opacity: 0.9;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 1001;

  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Menü açıkken görünür */
.navigation-bar.visible {
  transform: translateX(0);
}

/* Menü içerik */
.navigation-bar ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  text-align: center;
}

.navigation-bar li {
  font-family: 'Protest Guerrilla', sans-serif;
  text-align: start;
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0;
  color: #f4f4f4;
  text-shadow:
    0 2px 3px rgba(0, 0, 0, 0.4),
    0 4px 8px rgba(0, 0, 0, 0.3),
    0 6px 12px rgba(0, 0, 0, 0.2);
}

.navigation-bar a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navigation-bar a:hover {
  color: #ffcc00;
  transition: all 0.8s ease;
}

/* Mobil görünüm */
@media screen and (max-width: 768px) {
  .mainpage-icon {
    width: 50px;
    height: 50px;
    top: 15px;
    left: 15px;
  }

  .menu-icon {
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
  }

  .navigation-bar {
    width: 75vw;
  }

  .navigation-bar li {
    font-size: 22px;
    margin: 18px 0;
  }
}
