.navigation-bar {
    padding-top: 50px;
    flex: 1; /* Navigasyon çubuğunun esnekliği */
    background: linear-gradient(to right, #605c3c, #a68b68);
    color: #D3D3D3;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navigation-bar ul {
    cursor: pointer;
    list-style-type: none; /* Liste işaretlerini kaldır */
    padding: 0;
    margin: 0;
  }
  
  .navigation-bar li {
    padding: 15px 20px; /* Daha fazla padding ile rahat bir dokunuş alanı */
    transition: background-color 0.3s, color 0.3s; /* Yumuşak geçiş efekti */
  }
  
  /* Hover Efekti */
  .navigation-bar li:hover {
    background-image: linear-gradient(to right, #FF7E5F, #FEB47B); /* Sıcak renklerde gradient */
    color: #FFF; /* Beyaz yazı rengi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
  }
  
  /* Alt Menü Stilleri */
  .navigation-bar li ul {
    background-color: #605c3c; /* Ana menüyle uyumlu daha koyu bir arka plan rengi */
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Hafif gölge efekti */
    padding: 0;
    margin: 0;
  }

  .navigation-bar li ul li {
    padding: 10px 20px; /* Padding ayarı */
  }

  .navigation-bar li ul li:hover {
    background-image: linear-gradient(to right, #FF7E5F, #FEB47B); /* Ana menüdeki gibi sıcak renklerde gradient */
    color: #FFF; /* Beyaz yazı rengi */
  }


  .navbar-icon {
    padding: 5px 20px; 
    width: 60px; /* Örnek genişlik */
    height: auto; /* Yükseklik, orijinal boyut oranını korur */
    border-radius: 50%;
    /* Diğer stil özellikleri */
  }
  
  @media screen and (min-width: 1920px) {
    /* Büyük ekranlar için stil kuralları */
    .navigation-bar {
        font-size: large;
    }
  }

  @media screen and (max-width: 768px) {
    .navigation-bar {
      font-size: small;
  }
  }
