.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px; /* Menü genişliği */
  height: 100vh;
  background: linear-gradient(to right, 
        #9d9b88 0%, 
        #a19e8c 5%, 
        #a5a190 10%, 
        #a9a494 15%, 
        #ada798 20%, 
        #b1aa9c 25%, 
        #b5ada0 30%, 
        #b9b0a4 35%, 
        #bdb3a8 40%, 
        #c1b6ac 45%, 
        #c5b9b0 50%, 
        #c9bcb4 55%, 
        #cdbfb8 60%, 
        #d1c2bc 65%, 
        #d5c5c0 70%, 
        #d9c8c4 75%, 
        #ddcbc8 80%, 
        #e1cec2 85%, 
        #e5d1c6 90%, 
        #e9d4ca 95%, 
        #ede7ce 100%);
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  z-index: 1000;
  padding-top: 150px;
  opacity: 0.8;
  color: black;
  font-weight: 500;
}

.navigation-bar.visible {
  transform: translateX(0);
}

.navigation-bar ul {
  list-style-type: none; /* Liste işaretlerini kaldır */
  padding: 0;
  margin: 0;
}

.navigation-bar li {
  padding: 15px 20px;
  transition: background-color 0.5s, color 0.5s; /* Yumuşak geçiş efekti */
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

/* Hover Efekti */
.navigation-bar li:hover {
  background-color: #a8876e;
  color: #fdfdfd;
}

/* Dropdown Menüsü için Stiller */
.navigation-bar .dropdown {
  position: relative; /* Dropdown içeriği için referans noktası */
  display: block; /* İçerik yan yana gelsin */
}

/* Dropdown içeriği başlangıçta gizli */
.navigation-bar .dropdown-content {
  visibility: hidden; /* Başlangıçta görünmez */
  opacity: 0; /* Şeffaf */
  position: absolute;
  left: 100%; /* 'li' etiketinin sağ tarafına yerleştir */
  top: 0; /* Üst kenara hizala */
  width: 200px; /* Genişlik */
  z-index: 1; /* Üstte görünsün */
  transition: visibility 0.2s, opacity 0.5s ease, transform 0.5s ease; /* Yumuşak geçiş efekti */
  transform: translateX(-100%); /* Başlangıçta sola doğru kaydır */
  font-weight: 400;
  background: linear-gradient(to right, 
        #9d9b88 0%, 
        #a19e8c 5%, 
        #a5a190 10%, 
        #a9a494 15%, 
        #ada798 20%, 
        #b1aa9c 25%, 
        #b5ada0 30%, 
        #b9b0a4 35%, 
        #bdb3a8 40%, 
        #c1b6ac 45%, 
        #c5b9b0 50%, 
        #c9bcb4 55%, 
        #cdbfb8 60%, 
        #d1c2bc 65%, 
        #d5c5c0 70%, 
        #d9c8c4 75%, 
        #ddcbc8 80%, 
        #e1cec2 85%, 
        #e5d1c6 90%, 
        #e9d4ca 95%, 
        #ede7ce 100%);
}

/* Hover durumunda dropdown içeriği görünür */
.navigation-bar .dropdown:hover .dropdown-content {
  visibility: visible; /* Görünür yap */
  opacity: 1; /* Opak yap */
  transform: translateX(0); /* Orijinal konumuna geri getir */
}

.navigation-bar .dropdown-content li {
  padding: 10px;
  color: black;
  /* Diğer stil ayarları */
}

.navigation-bar .dropdown-content li:hover {
  color: #fdfdfd;
  /* Diğer stil ayarları */
}

.navigation-bar li ul li {
  padding: 10px 20px;
}

.navbar-icon {
  position: fixed;
  display: block;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1001; /* İkonun navigasyon çubuğunun üstünde olması için */
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

  
  @media screen and (min-width: 1920px) {
    /* Büyük ekranlar için stil kuralları */
    .navigation-bar {
        font-size: large;
    }
  }

  @media screen and (max-width: 768px) {
    .navigation-bar {
      font-size: small;
  }
  }
